@model Model.Produto

@{
    ViewBag.Title = "Delete";
}

<h3><span class="label label-default">Tem certeza que deseja remover este produto?</span></h3>
<br/>
<fieldset>
    <legend>Produto</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Descricao, "Descrição")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Tamanho)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tamanho)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.UnidadeMedida, "Descrição")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnidadeMedida)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <br/>
    <p>
        <input type="submit" value="Remover" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
