@model Model.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h3> <span class="label label-default">Detalhes do Produto</span></h3>
<br/>
<fieldset>
    <legend>Produto</legend>

    <div class="display-label">
         @Html.Label("Descrição")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
        @Html.Label("Tamanho")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tamanho)
    </div>

    <div class="display-label">
         @Html.Label("Unidade de Medida")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnidadeMedida)
    </div>
    
    <div class="display-label">
         @Html.Label("Valor")
    </div>
</fieldset>
<p>
    <br/>
    @Html.ActionLink("Voltar", "Index")
</p>
