@using Model.Util
@model Model.Pedido

@{
    ViewBag.Title = "Details";
}

<h3><span class="label label-default">Detalhes do pedido</span></h3>
<br/>
<fieldset>
    <legend>Pedido</legend>

    <div class="display-label">
        @Html.Label("Decrição: ")
        @Html.DisplayFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.Label("Status: "):
        @Html.DisplayFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.Label("Prazo: ")
        @Html.DisplayFor(model => model.Prazo)
    </div>
    
    @if(Model.Status == StatusPedido.ENTREGUE)
    {
        <div class="display-field">
            @Html.Label("Entrega: ")
            @Html.DisplayFor(model => model.Entrega)
        </div>
    }
    
    <div class="display-field">
        @Html.Label("Valor Total: ")
        <span class="label label-primary">R$ @Html.DisplayFor(model => model.Total)</span>
    </div>
    
    <h3><span class="label label-default">Produtos</span></h3>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Descrição")
            </th>
            <th>
                @Html.Label("Tamanho")
            </th>
            <th>
                @Html.Label("Unid. Medida")
            </th>
            <th>
                @Html.Label("Quantidade")
            </th>
        </tr>

        @foreach (var item in Model.ItemsPedido) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Tamanho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.UnidadeMedida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
            </tr>
        }

    </table>
</fieldset>
@if (Model.Status == StatusPedido.AGUARDANDO)
{
  <li class="btn btn-success"> @Html.ActionLink("Aceitar", "Edit", new {status = StatusPedido.ACEITO,id = Model.Id})</li> 
   <li class="btn btn-danger">@Html.ActionLink("Recusar", "Edit", new {status = StatusPedido.REJEITADO,id = Model.Id})</li>
}
<p>
    <br/>
    @Html.ActionLink("Voltar", "Index")
</p>
