@model Model.POCO.Usuario

@{
    ViewBag.Title = "Registrar";
}

<h3>Registar Fornecedor</h3>
<br/>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.RazaoSocial, "Razão Social")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.RazaoSocial)
            @Html.ValidationMessageFor(model => model.Fornecedor.RazaoSocial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.Cnpj)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.Cnpj)
            @Html.ValidationMessageFor(model => model.Fornecedor.Cnpj)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.Telefone)
            @Html.ValidationMessageFor(model => model.Fornecedor.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.Endereco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.Endereco)
            @Html.ValidationMessageFor(model => model.Fornecedor.Endereco)
        </div>
        <br/>
        <p>
            <input type="submit" value="Registrar" /> | @Html.ActionLink("Voltar", "Index")
        </p>
    </fieldset>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
