@model Model.POCO.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Visualizar Fornecedor</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fornecedor.RazaoSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.RazaoSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fornecedor.Cnpj)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.Cnpj)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fornecedor.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.Telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fornecedor.Endereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.Endereco)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
