@model Model.POCO.Usuario

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes do Fornecedor</h3>
<br/>
<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
        @Html.Label("Username")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
        @Html.Label("Password")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
    
    <div class="display-label">
        @Html.Label("Razão Social")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.RazaoSocial)
    </div>

    <div class="display-label">
        @Html.Label("Cnpj")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.Cnpj)
    </div>

    <div class="display-label">
        @Html.Label("Telefone")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.Telefone)
    </div>

    <div class="display-label">
        @Html.Label("Endereço")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fornecedor.Endereco)
    </div>
</fieldset>
<br/>
<p>
    <button class="btn">@Html.ActionLink("Editar", "Edit", new { id=Model.Id })</button> |
    @Html.ActionLink("Voltar", "Index")
</p>
