@model Model.POCO.Usuario

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<div class="cadastro-fornecedor" style="width: 340px; margin-left: 35%; margin-top: 25px;">
    <fieldset>
        <legend>Fornecedor</legend>
        <h3>Editar Dados</h3>
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.RazaoSocial, "Razão Social")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.RazaoSocial)
            @Html.ValidationMessageFor(model => model.Fornecedor.RazaoSocial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.Cnpj)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.Cnpj)
            @Html.ValidationMessageFor(model => model.Fornecedor.Cnpj)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.Telefone)
            @Html.ValidationMessageFor(model => model.Fornecedor.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fornecedor.Endereco, "Endereço")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fornecedor.Endereco)
            @Html.ValidationMessageFor(model => model.Fornecedor.Endereco)
        </div>
        <br/>
        <p>
            <input type="submit" value="Salvar" /> |  @Html.ActionLink("Voltar", "Index")
        </p>
    </fieldset>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
